ion-content {
  --background: linear-gradient(90deg, #ffff 0%, #ebebf0 50%);
  font-family: sans-serif;
}

.texto {
  background-color: #ffffff;
  padding: 40px 40px 40px 60px;
  border-bottom-right-radius: 70px;
  margin-top: -40px;
  margin-left: -40px;
  margin-right: -10px;
  box-shadow: 0 4px 8px rgba(130, 127, 127, 0.5);
}

.texto h2 {
  font-size: 32px;
  color: #262ed3;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.texto p {
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 5px 10px;
  margin-bottom: 20px;
  border: 2px solid #9b9ba0;
  transition: border-color 0.5s ease, box-shadow 0.5s ease;
}

.input-container:focus-within {
  border-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.input-container ion-icon {
  color: var(--ion-color-medium);
  font-size: 20px;
  margin-right: 10px;
}

.input-container ion-input {
  flex: 1;
  --padding-start: 0;
}

.eye-icon {
  cursor: pointer;
}

.forgot-password {
  color: rgb(49, 48, 135);
  margin-top: 0px;
  margin-bottom: 50px;
  align-self: flex-end;
}

.opciones-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 30px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.opciones {
  color: var(--ion-color-medium);
  padding: 0 10px;
  margin: 0;
  text-align: center;
}

.line {
  flex-grow: 1;
  height: 2px;
  background-color: #606365;
  opacity: 0.5;
}

.social-login {
  margin-top: 1rem;
  margin-bottom: 20px;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btn-icon {
  width: 45px;
  height: 45px;
  border-radius: 20%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  padding: 0;
}

.btn-icon img {
  object-fit: contain;
}

.btn-icon.facebook {
  background-color: #1877f2;
  width: 13%;
  height: 13%;
}

.btn-icon.google {
  background-color: #ffffff;
  border: 2px solid #ccc;
  width: 13.5%;
  height: 13.5%;
}

.btn-icon.facebook img {
  width: 100%;
  height: 100%;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 25px;
}

.boton {
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  padding: 0 2em;
  border-radius: 1em;
  height: 3.1em;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  margin: 0 auto 20px;
  width: 350px;
  font-weight: bold;
  background-color: transparent;
  box-shadow: none;
}

.boton ion-icon {
  margin-right: 10px;
  font-size: 1.4em;
}

.register-btn {
  color: #5468ff;
  background: transparent;
  border: 2px solid #5562c6;
}

.register-btn:hover {
  background-color: rgba(84, 104, 255, 0.1);
}

.login-btn {
  background: radial-gradient(100% 100% at 100% 0%, #89e5ff 0%, #5468ff 100%);
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%),
    0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%),
    inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  color: #fff;
}

.login-btn:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%),
    0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
  transform: translateY(-0.1em);
}

.login-btn:active {
  box-shadow: inset 0px 0.1em 0.6em #2b40dc;
  transform: translateY(0em);
}

@media screen and (min-width: 768px) {
  ion-content {
    --background: none;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
  }

  .container {
    display: flex;
    height: 100%;
    width: 100%;
  }

  .texto {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px;
    position: relative;
    background: linear-gradient(rgba(80, 3, 3, 0.5), rgba(41, 95, 231, 0.5)),
      url("https://i.blogs.es/56ade6/34960e4d-b9df-4619-821c-c2d4135e5c9f/1366_2000.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 0;
  }
  .texto h2 {
    font-size: 4em;
    color: #ffffff;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-top: 100px; /* Ajusta según sea necesario */
    margin-left: 30px;
    z-index: 2;
    align-self: flex-start; /* Alinea el h2 al inicio del contenedor */
  }

  .texto p {
    font-size: 2em;
    margin-left: 30px;
    font-family: "Geneva", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-top: 0;
    // transform: scaleX(-1); /* Agregado para girar la imagen */
    position: relative;
    z-index: 2;
    color: #ffffff;
  }

  .login-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position: relative; /* Para posicionamiento absoluto de forgot-password */
  }

  .input-container {
    display: flex;
    align-items: center;
    width: 50%;
    background-color: #ffffff;
    padding: 8px 15px;
    margin-bottom: 15px;
    border: 2px solid #9b9ba0;
    // transition: border-color 0.5s ease, box-shadow 0.5s ease;
  }

  .eye-icon {
    cursor: pointer;
  }

  .forgot-password {
    color: rgb(49, 48, 135);
    margin-top: 2px; /* Ajusta este valor según sea necesario */
    font-size: 1em;
    align-self: center;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .boton {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .social-login {
    margin-top: 30px;
  }

  .social-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .btn-icon {
    width: 40px;
    height: 40px;
  }

  .btn-icon.google {
    background-color: #ffffff;
    border: 2px solid #ccc;
    width: 7%;
    height: 7%;
  }

  .btn-icon.facebook {
    background-color: #1877f2;
    width: 7%;
    height: 7%;
  }
}
